<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">

  <title>Search - fEMR</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'>
  <link rel="stylesheet" href="./assets/styles.css">
</head>

<body translate="no">

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark-femr">
    <a class="navbar-brand" href="#">
      <img src="https://teamfemr.org/images/logo/logo_negative_wordless.png" width="60" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link nav-link__badge" href="#">
            Search <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link nav-link__badge" href="#">
            Patient
            <span class="badge badge-dark">Add New</span>
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">
            Admin
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user-circle" aria-hidden="true"></i>
            Sarah D.
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#"><i class="fa fa-cog" aria-hidden="true"></i>
              Settings</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#"><i class="fa fa-list" aria-hidden="true"></i> Reference</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <main class="container-fluid">
    <div class="row row-tall">
      <div class="" id="particles-js"></div>
      <aside class="col-sm-12 col-md-3 bg-dark-femr py-4">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link active" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab"
            aria-controls="v-pills-settings" aria-selected="false"><i class="fa fa-user"></i> Users</a>
          <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab"
            aria-controls="v-pills-messages" aria-selected="false"><i class="fa fa-globe"></i> Trips</a>
          <a class="nav-link" id="admin-inventory-tab" data-toggle="pill" href="#admin-inventory" role="tab"
            aria-controls="admin-inventory" aria-selected="false"><i class="fa fa-briefcase"></i> Inventory</a>
          <a class="nav-link" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
            aria-controls="v-pills-home" aria-selected="true"><i class="fa fa-gear"></i> Configure</a>
        </div>
      </aside>
      <section class="col-sm-12 col-md-9 bg-light--femr py-4">
        <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="v-pills-settings" role="tabpanel"
            aria-labelledby="v-pills-settings-tab">
            <div class="container-sm">
              <button class="btn btn-secondary btn-block my-3"><i class="fa fa-plus-circle"></i> Add User</button>
            </div>

            <div class="table-responsive">
              <table class="table">
                <tr>
                  <th>Edit</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Email</th>
                  <th>About</th>
                  <th>Role</th>
                  <th>Last Login</th>
                  <th>Toggle</th>
                </tr>
                <tr>
                  <td>1</td>
                  <td>Sarah</td>
                  <td>Draugelis</td>
                  <td>sarah.draugelis@teamfemr.org</td>
                  <td>President</td>
                  <td>Administrator Manager Nurse Pharmacist Physician Researcher</td>
                  <td>October 2, 2020 - 17:35:00</td>
                  <td><button class="btn btn-success">Activate</button></td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Sarah</td>
                  <td>Draugelis</td>
                  <td>sarah.draugelis@teamfemr.org</td>
                  <td>President</td>
                  <td>Administrator Manager Nurse Pharmacist Physician Researcher</td>
                  <td>October 2, 2020 - 17:35:00</td>
                  <td><button class="btn btn-danger">Deactivate</button></td>
                </tr>
              </table>
            </div>
          </div>
          <div class="tab-pane fade" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">

            <div class="table-responsive">
              <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th><i class="fa fa-bookmark"></i></th>
                    <th>Feature</th>
                    <th>Description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><input type="checkbox" name="settings[]" value="Medical PMH Tab" checked="checked"></td>
                    <td>Medical PMH Tab</td>
                    <td>When checked, the Past Medical History tab on medical appears</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" name="settings[]" value="Medical PMH Tab"></td>
                    <td>Medical PMH Tab</td>
                    <td>When checked, the Past Medical History tab on medical appears</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" name="settings[]" value="Medical PMH Tab" checked="checked"></td>
                    <td>Medical PMH Tab</td>
                    <td>When checked, the Past Medical History tab on medical appears</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="container-sm">
              <button class="btn btn-secondary btn-block my-3"><i class="fa fa-floppy-o"></i> Save</button>
            </div>
          </div>
          <div class="tab-pane fade" id="admin-inventory" role="tabpanel" aria-labelledby="admin-inventory-tab">

            <div class="toast" style="position: absolute; top: 0; right: 0; z-index: 3;" data-autohide="false">
              <div class="toast-header">
                <!-- <img src="..." class="rounded mr-2" alt="..."> -->
                <strong class="mr-auto">Instructions</strong>
                <!-- <small>11 mins ago</small> -->
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="toast-body">
                <ol>
                  <li>Add medications using the buttons above</li>
                  <li>Formulary only applies to Users on the trip mentioned above</li>
                  <li>Manually edit Current/Initial quantity below</li>
                  <li>Quantity will be subtracted from the Current Quantity column after being dispensed in Pharmacy
                  </li>
                  <li>Export your inventory data using the "Export as CSV" button to the right</li>
                </ol>
              </div>
            </div>

            <ul class="nav nav-tabs justify-content-center mb-3" id="admin-inventory-tab" role="tablist">

              <li class="nav-item" role="presentation">
                <a class="nav-link active" id="pills-medication-existing-tab" data-toggle="pill"
                  href="#pills-medication-existing" role="tab" aria-controls="pills-medication-existing"
                  aria-selected="true">Existing</a>
              </li>

              <li class="nav-item" role="presentation">
                <a class="nav-link" id="pills-medication-custom-tab" data-toggle="pill" href="#pills-medication-custom"
                  role="tab" aria-controls="pills-medication-custom" aria-selected="false">Custom</a>
              </li>

            </ul>

            <div class="tab-content" id="admin-inventory-tabContent">
              <div class="tab-pane fade show active" id="pills-medication-existing" role="tabpanel"
                aria-labelledby="pills-medication-existing-tab">
                <div class="alert alert-info">You are viewing the formulary for <strong>Aid for
                    Haiti-Mexico-(02/February/2020-02/May/2020)</strong></div>
                <form class="form-inline d-md-flex">
                  <div class="form-group">
                    <select class="form-control" id="exampleFormControlSelect1">
                      <option>Select a trip inventory</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div>
                  <button class="btn btn-primary" type="submit">View <i class="fa fa-angle-right"
                      aria-hidden="true"></i></button>
                  <button class="btn btn-secondary ml-auto" type="submit"><i class="fa fa-download"
                      aria-hidden="true"></i> Export as CSV</button>
                </form>
                <a href="#" id="inventory-instructions">Read instructions</a>
              </div>
              <div class="tab-pane fade" id="pills-medication-custom" role="tabpanel"
                aria-labelledby="pills-medication-custom-tab">
                <div class="alert alert-info">You are viewing the formulary for <strong>Aid for
                    Haiti-Mexico-(02/February/2020-02/May/2020)</strong></div>
                <form class="form-inline">
                  <div class="form-group">
                    <select class="form-control" id="exampleFormControlSelect1">
                      <option>Select a trip inventory</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div>
                  <button class="btn btn-primary" type="submit">View</button>
                </form>
              </div>
            </div>
          </div>

          <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
            <ul class="nav nav-tabs justify-content-center mb-4" id="pills-tab" role="tablist">
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                  aria-controls="pills-profile" aria-selected="false">Teams</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
                  aria-controls="pills-contact" aria-selected="false">Cities</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                  aria-controls="pills-home" aria-selected="true">Trips</a>
              </li>
            </ul>
            <div class="tab-content container-sm" id="pills-tabContent">
              <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <form class="">
                  <div class="form-group">
                    <!--                             <label for="exampleFormControlSelect1">Example select</label>
 --> <select class="form-control" id="exampleFormControlSelect1">
                      <option>Select a Team</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <!--                             <label for="exampleFormControlSelect1">Example select</label> -->
                    <select class="form-control" id="exampleFormControlSelect1">
                      <option>Select a City</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <!-- <label for="exampleFormControlInput1">Trip Country</label> -->
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Trip Country">
                  </div>
                  <div class="form-row">
                    <div class="col-sm-12 col-md-6">
                      <input type="text" class="form-control" placeholder="Start date">
                    </div>
                    <div class="col-sm-12 col-md-6">
                      <input type="text" class="form-control" placeholder="End date">
                    </div>
                  </div>
                  <button class="btn btn-primary btn-block mt-3" type="submit"><i class="fa fa-plus-circle"
                      aria-hidden="true"></i> Add Trip</button>
                </form>
              </div>
              <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                <form class="">

                  <div class="form-group">
                    <!-- <label for="exampleFormControlInput1">Trip Country</label> -->
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Name">
                  </div>
                  <div class="form-group">
                    <!-- <label for="exampleFormControlInput1">Trip Country</label> -->
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Location">
                  </div>
                  <div class="form-group">
                    <!-- <label for="exampleFormControlInput1">Trip Country</label> -->
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Description">
                  </div>
                  <button class="btn btn-primary btn-block mt-3" type="submit"><i class="fa fa-plus-circle"
                      aria-hidden="true"></i> Add Team</button>
                </form>
              </div>
              <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                <form class="">
                  <div class="form-group">
                    <!--                             <label for="exampleFormControlSelect1">Example select</label> -->
                    <select class="form-control" id="exampleFormControlSelect1">
                      <option>Select Country</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <!-- <label for="exampleFormControlInput1">Trip Country</label> -->
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Name">
                  </div>
                  <button class="btn btn-primary btn-block mt-3" type="submit"><i class="fa fa-plus-circle"
                      aria-hidden="true"></i> Add City</button>
                </form>
              </div>
            </div>
          </div>

        </div>
    </div>
    </section>
  </main>

  <footer class="footer mt-auto py-4">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-4">fEMR 2.4.1-beta
        </div>
        <div class="col-sm-12 col-md-4 text-center">
          <a href="#">Leave Feedback</a>
        </div>
        <div class="col-sm-12 col-md-4">
          Designed for use in Google Chrome
        </div>
      </div>
    </div>
  </footer>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js'></script>
  <script>
    (function ($) {

      // $('a[data-toggle="pill"]').on('shown.bs.tab', function (e) {
      //     console.log(e.target.hash)
      //     if(e.target.hash == "#admin-inventory") {
      //         $('.toast').toast('show');
      //     }
      // });

      $('#inventory-instructions').on('click', function (e) {
        e.preventDefault();
        $('.toast').toast('show');
      });

    })(jQuery);
  </script>
</body>

</html>