<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>Search - fEMR</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="./assets/styles.css">
</head>

<body translate="no" class="page-home">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark-femr">
        <a class="navbar-brand" href="#">
            <img src="https://teamfemr.org/images/logo/logo_negative_wordless.png" width="60" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link nav-link__badge" href="#">
                        Search <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link nav-link__badge" href="#">
                        Patient
                        <span class="badge badge-dark">Add New</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">
                        Admin
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user-circle" aria-hidden="true"></i>
                        Sarah D.
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#"><i class="fa fa-cog" aria-hidden="true"></i>
                            Settings</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#"><i class="fa fa-list" aria-hidden="true"></i> Reference</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <main>
        <div class="jumbotron">
            <small class="text-muted">Welcome to fEMR v1.1.3.4152020-alpha.1-unstable</small>
            <h2>SEARCH TYPE</h2>
            <ul class="nav nav-pills" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="general-tab" data-toggle="tab" href="#general" role="tab"
                        aria-controls="general" aria-selected="true">General</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                        aria-selected="true">Medical</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                        aria-controls="profile" aria-selected="false">Pharmacy</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="home-tab">
                    <form action="">
                        <div class="input-group mt-3">
                            <input type="text" class="form-control" placeholder="ID, Name or Phone #" aria-label=""
                                aria-describedby="button-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button" id="button-addon2"><i class="fa fa-search"
                                        aria-hidden="true"></i>
                                    Search</button>
                            </div>
                        </div>
                </div>
                <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <form action="">
                        <div class="input-group mt-3">
                            <input type="text" class="form-control" placeholder="Type Patient ID in Medical"
                                aria-label="" aria-describedby="button-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button" id="button-addon2"><i class="fa fa-search"
                                        aria-hidden="true"></i>
                                    Search</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <form action="">
                        <div class="input-group mt-3">
                            <input type="text" class="form-control" placeholder="Type Patient ID in Pharmacy"
                                aria-label="" aria-describedby="button-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button" id="button-addon2"><i class="fa fa-search"
                                        aria-hidden="true"></i>
                                    Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer mt-auto py-3">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <!-- fEMR 2.4.1-beta -->
                    <!-- v1.1.3.4152020 -->
                </div>
                <div class="col-sm-12 col-md-4 text-center">
                    <!-- <a href="#">Leave Feedback</a> -->
                    v1.1.3.4152020
                </div>
                <div class="col-sm-12 col-md-4">
                    <!-- fEMR Team &copy; 2020 -->
                </div>
            </div>
        </div>
    </footer>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js'></script>

</body>

</html>