<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>Search - fEMR</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="./assets/styles.css">
</head>

<body translate="no" class="page-home">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark-femr">
        <a class="navbar-brand" href="#">
            <img src="https://teamfemr.org/images/logo/logo_negative_wordless.png" width="60" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link nav-link__badge" href="#">
                        Search <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link nav-link__badge" href="#">
                        Patient
                        <span class="badge badge-dark">Add New</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">
                        Admin
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user-circle" aria-hidden="true"></i>
                        Sarah D.
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#"><i class="fa fa-cog" aria-hidden="true"></i>
                            Settings</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#"><i class="fa fa-list" aria-hidden="true"></i> Reference</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <main class="container-md mt-4">
        <form class="form-inline d-md-flex mb-4">
            <div class="form-group">
              <select class="form-control" id="exampleFormControlSelect1">
                <option>Seen in Last 30 Days</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <button class="btn btn-primary" type="submit">Apply <i class="fa fa-angle-right"
                aria-hidden="true"></i></button>
        </form>
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Toggle</th>
                    </tr>
                </thead>
              <tr>
                <td>1</td>
                <td>Tyler</td>
                <td>Durden</td>
                <td><button class="btn btn-secondary">Update <i class="fa fa-angle-right"
                    aria-hidden="true"></i></button></td>
              </tr>
              <tr>
                <td>2</td>
                <td>Marla</td>
                <td>Singer</td>
                <td><button class="btn btn-secondary">Update <i class="fa fa-angle-right"
                    aria-hidden="true"></i></button></td>
              </tr>
            </table>
          </div>
        </div>
    </main>

    <footer class="footer mt-auto py-3">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <!-- fEMR 2.4.1-beta -->
                    <!-- v1.2.0.5112020 -->
                </div>
                <div class="col-sm-12 col-md-4 text-center">
                    <!-- <a href="#">Leave Feedback</a> -->
                    v1.2.0.5112020
                </div>
                <div class="col-sm-12 col-md-4">
                    <!-- fEMR Team &copy; 2020 -->
                </div>
            </div>
        </div>
    </footer>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js'></script>

</body>

</html>