.idea/
env/
.vs/
venv/
**/__pycache__/**
docs/build
db.sqlite3
.vscode
.vagrant
/femr_onchain/__pycache__
/main/__pycache__
/main/migrations/__pycache__
.Vagrantfile.un~
Vagrantfile~
.elasticbeanstalk
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.bash_history
.cache/
.sudo_as_admin_successful
.config/
.npm/
*.log
**/.DS_Store
/static/
/photos/
/attachments/
csv/
build/
source/_autosummary
.coverage
cover/
source/appMR.migrations.rst
source/appMR.rst
source/appMR.test.rst
source/appMR.tests.rst
source/clinic_messages.migrations.rst
source/clinic_messages.rst
source/clinic_messages.test.rst
source/clinic_messages.tests.rst
source/main.csvio.rst
source/main.management.commands.rst
source/main.management.rst
source/main.migrations.rst
source/main.rst
source/main.templatetags.rst
source/main.test.rst
source/main.tests.rst
source/modules.rst
