Django==3.1.7
PyYAML==5.4.1
amazon.ion==0.5.0
asgiref==3.3.1
astroid==2.5.2
autopep8==1.5.6
boto3==1.17.41
botocore==1.20.44
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
django-axes==5.13.1
django-crispy-forms==1.11.2
django-ipware==3.0.2
django-localflavor==3.0.1
django-session-security==2.6.6
django-timezone-utils==0.13
django-user-agents==0.4.0
djangorestframework==3.12.4
docutils==0.15
dparse==0.5.1
idna==2.10
ionhash==1.1.0
isort==5.8.0
jmespath==0.10.0
lazy-object-proxy==1.6.0
mccabe==0.6.1
packaging==20.9
psycopg2==2.8.6
pycodestyle==2.7.0
pylint==2.7.2
pyparsing==2.4.7
pyqldb==3.0.0
python-dateutil==2.8.1
python-stdnum==1.16
pytz==2021.1
requests==2.25.1
s3transfer==0.3.6
safety==1.10.3
setuptools==54.2.0
six==1.15.0
sqlparse==0.4.1
toml==0.10.2
typed-ast==1.4.2
ua-parser==0.10.0
urllib3==1.26.4
user-agents==2.2.0
wheel==0.36.2
wrapt==1.12.1
