amazon.ion==0.5.0
asgiref==3.3.1
astroid==2.4.2
autopep8==1.5.5
boto3==1.14.61
botocore==1.17.61
colorama==0.4.4
Django==3.1.6
django-axes==5.12.0
django-crispy-forms==1.11.0
django-localflavor==3.0.1
django-session-security==2.6.6
django-timezone-utils==0.13
djangorestframework==3.12.2
docutils==0.15
ionhash==1.1.0
isort==5.7.0
jmespath==0.10.0
lazy-object-proxy==1.5.2
mccabe==0.6.1
psycopg2==2.8.6
pycodestyle==2.6.0
pylint==2.6.0
pyqldb==3.0.0
python-dateutil==2.8.1
python-stdnum==1.16
pytz==2021.1
safety==1.10.3
s3transfer==0.3.4
six==1.15.0
sqlparse==0.4.1
toml==0.10.2
typed-ast==1.4.2
urllib3==1.25.10
wrapt==1.12.1
