{% extends "data/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
{% load patient_tags %}
<a class="btn btn-primary" href="{% url 'main:add_supply_view' %}">Add New</a>
<a class="btn btn-primary" href="{% url 'main:csv_handler_view' %}">Import CSV</a>
<a class="btn btn-primary" href="{% url 'main:csv_export_view' %}" target="_blank">Export CSV</a>
<table class="table">
    <thead>
    <tr>
        <th scope="col"></th>
        <th scope="col">Category</th>
        <th scope="col">Name</th>
        <th scope="col">Form</th>
        <th scope="col">Strength</th>
        <th scope="col">Count</th>
        <th scope="col">Quantity</th>
        <th scope="col">Item #</th>
        <th scope="col">Box #</th>
        <th scope="col">Expiration Date</th>
        <th scope="col">Manufacturer</th>
        <th scope="col">Last Edited</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    {% for o in list_view %}
    <tr>
        <td>{{ o.id }}</td>
        <td>{{ o.category }}</td>
        <td>{{ o.medication }}</td>
        <td>{{ o.form }}</td>
        <td>{{ o.strength }}</td>
        <td>{{ o.count }}</td>
        <td>{{ o.quantity }}</td>
        <td>{{ o.item_number }}</td>
        <td>{{ o.box_number }}</td>
        <td>{{ o.expiration_date }}</td>
        <td>{{ o.manufacturer }}</td>
        <td>{{ o.timestamp }}</td>
        <td><a href="{% url 'main:edit_add_supply_view' o.id %}">Add</a></td>
        <td><a href="{% url 'main:edit_sub_supply_view' o.id %}">Remove</a></td>
        <td><a href="{% url 'main:delete_supply_item' o.id %}"></a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}