{% extends "data/base.html" %}
{% block content %}
{% load static %}
<table class="table">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Name</th>
            <th scope="col">Email Address</th>
            <th scope="col">Phone Number</th>
        </tr>
    </thead>
    <tbody>
        {% for o in list_view %}
        <tr>
            <th scope="row">{{ o.id }}</th>
            <th scope="row">{{ o.first_name }} {{ o.last_name }}</th>
            <th scope="row">{{ o.email_address }}</th>
            <th scope="row">{{ o.phone_number }}</th>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}