{% extends "data/base.html" %} {% block content %} {% load static %}
<form action="{% url 'main:filter_database_logs_view' %}" class="form-inline my-2 my-lg-0" method="get"
       onsubmit="return check_dates();">
       <select aria-label="Filter" class="form-control" id="filter_list" name="filter_list">
              {% if selected == 1 %}
              <option selected value="1">Seen Today</option>
              {% else %}
              <option value="1">Seen Today</option>
              {% endif %}
              {% if selected == 2 %}
              <option selected value="2">Seen in Last Week</option>
              {% else %}
              <option value="2">Seen in Last Week</option>
              {% endif %}
              {% if selected == 3 %}
              <option selected value="3">Seen in Last 30 Days</option>
              {% else %}
              <option value="3">Seen in Last 30 Days</option>
              {% endif %}
              {% if selected == 4 %}
              <option selected value="4">Seen on</option>
              {% else %}
              <option value="4">Seen on</option>
              {% endif %}
              {% if selected == 5 %}
              <option selected value="5">Seen between</option>
              {% else %}
              <option value="5">Seen between</option>
              {% endif %}
              {% if selected == 6 %}
              <option selected value="6">All</option>
              {% else %}
              <option value="6">All</option>
              {% endif %}
       </select>
       {% if selected == 4 %}
       <input class="form-control" data-content="A date is required." data-placement="top" data-toggle="popover"
              data-trigger="focus" id="date_filter_day" name="date_filter_day" type="date" value="{{ filter_day }}" />
       {% else %}
       <input class="form-control" data-content="A date is required." data-placement="top" data-toggle="popover"
              data-trigger="focus" id="date_filter_day" name="date_filter_day"
              style="visibility: hidden; display: none;" type="date" value="{{ filter_day }}" />
       {% endif %}
       {% if selected == 5 %}
       <input class="form-control" data-content="A date is required." data-placement="top" data-toggle="popover"
              data-trigger="focus" id="date_filter_start" name="date_filter_start" type="date"
              value="{{ filter_start }}" />
       <input class="form-control" data-content="A date is required." data-placement="top" data-toggle="popover"
              data-trigger="focus" id="date_filter_end" name="date_filter_end" type="date" value="{{ filter_end }}" />
       {% else %}
       <input class="form-control" data-content="A date is required." data-placement="top" data-toggle="popover"
              data-trigger="focus" id="date_filter_start" name="date_filter_start"
              style="visibility: hidden; display: none;" type="date" value="{{ filter_start }}" />
       <input Z class="form-control" data-content="A date is required." data-placement="top" data-toggle="popover"
              data-trigger="focus" id="date_filter_end" name="date_filter_end"
              style="visibility: hidden; display: none;" type="date" value="{{ filter_end }}" />
       {% endif %}
       <button class="btn btn-primary" id="filter_apply_button" type="submit">Apply</button>
</form>
<a class="btn btn-primary" target="_blank" href="{% url 'main:export_database_logs_view' %}">Export Log</a>
<table class="table">
       <thead>
              <tr>
                     <th scope="col">Action</th>
                     <th scope="col">Model</th>
                     <th scope="col">Case</th>
                     <th scope="col">IP Address</th>
                     <th scope="col">User</th>
                     <th scope="col">Timestamp</th>
              </tr>
       </thead>
       <tbody>
              {% for line in list_view %}
              <tr>
                     <th scope="row">{{ line.action }}</th>
                     <td>{{ line.model }}</td>
                     <td>{{ line.instance }}</td>
                     <td>{{ line.ip }}</td>
                     <td>{{ line.username }}</td>
                     <td>{{ line.timestamp }}</td>
              </tr>
              {% endfor %}
       </tbody>
</table>
<script src="{% static 'main/js/filters.js' %}"></script>
<script src="{% static 'main/js/date_filter_check.js' %}"></script>
{% endblock %}