{% extends "data/base.html" %}
{% block content %}
<div>
    <div>Logged in as {{ user.first_name }} {{ user.last_name }}.</div>
    <div><a href="{% url 'main:list_users_view' %}">User Management</a></div>
    <div><a href="{% url 'main:get_audit_logs_view' %}">Access Audit Log Management</a></div>
    <div><a href="{% url 'main:get_database_logs_view' %}">Database Access Log Management</a></div>
    <div><a href="{% url 'main:patient_csv_export_view' %}">Export Deidentified Patient Data</a></div>
</div>
{% endblock %}