{% extends "data/base.html" %}
{% block content %}
<div>Logged in as {{ user.first_name }} {{ user.last_name }}.</div>
<div class="row">
    <div class="col-md-6">
        <h3>Campaign Management</h3>
        <div>
            <a href="{% url 'main:list_users_view' %}">User Management</a>
            <a href="#" data-toggle="popover" data-trigger="hover"
                data-content="Click here to create new users or edit existing users."><i
                    class="fa fa-question-circle"></i></a>
        </div>
        <!-- <div>
            <a href="{% url 'main:formulary_home_view' %}">Formulary Management</a>
            <a href="#" data-toggle="popover" data-trigger="hover"
                data-content="Click here to manage your campaign's pharmacy and inventory."><i
                    class="fa fa-question-circle"></i></a>
        </div> -->
        <div>
            <a href="{% url 'main:get_audit_logs_view' %}">Access Audit Log Management</a>
            <a href="#" data-toggle="popover" data-trigger="hover"
                data-content="Cick here to see who has logged in and out of fEMR On-Chain."><i
                    class="fa fa-question-circle"></i></a>
        </div>
        <div>
            <a href="{% url 'main:get_database_logs_view' %}">Database Access Log Management</a>
            <a href="#" data-toggle="popover" data-trigger="hover"
                data-content="Click here to see who edited or accessed patient records."><i
                    class="fa fa-question-circle"></i></a>
        </div>
        <div>
            <a href="{% url 'main:patient_csv_export_view' %}">Export Deidentified Patient Encounter Data</a>
            <a href="#" data-toggle="popover" data-trigger="hover"
                data-content="Click here to create an administrative message."><i
                    class="fa fa-question-circle"></i></a>
        </div>
        <div>
            <a href="{% url 'main:set_timezone' %}">Timezone Controls</a>
            <a href="#" data-toggle="popover" data-trigger="hover"
                data-content="Adjust campaign-wide timezone settings."><i
                    class="fa fa-question-circle"></i></a>
        </div>
    </div>
</div>
{% endblock %}