{% extends "data/base.html" %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}
<form action="{% url 'main:message_of_the_day_view' %}" method="post"
      onreset="return confirm('Are you sure you want to reset the form? Any work may be lost.');">
    {% csrf_token %}
    <div class="container">
        <div class="row justify-content-center">
            {% crispy form %}
        </div>
    </div>
</form>
<script>
    $(document).on("keydown", ":input:not(textarea)", function (event) {
        return event.key != "Enter";
    });

</script>
{% endblock %}