{% extends "data/base.html" %} {% block content %} {% load static %} {% load user_tags %}
<a class="btn btn-primary" href="{% url 'main:create_user_view' %}">New User</a>
<a class="btn btn-primary" href="{% url 'main:add_users_to_campaign' %}">Add Existing User</a>
<hr>
<div class="row">
    <div class="col-md-6">
        <h2>Active Users</h2>
        <table class="table">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for o in active_users %}
            <tr>
                <th scope="row">{{ o.id }}</th>
                <td>{{ o.first_name }}</td>
                <td>{{o.last_name }}</td>
                {% if o|has_group:"fEMR Admin" and not request.user|has_group:"fEMR Admin" %}
                <td>Update</td>
                {% if o.is_active %}
                <td>Lock Account</td>
                {% else %}
                <td>Unlock Account</td>
                {% endif %}
                {% else %}
                <td><a href="{% url 'main:update_user_view' id=o.id %}"> Update</a></td>
                {% if o.is_active %}
                <td><a href="{% url 'main:lock_user_view' id=o.id %}">Lock Account</a></td>
                {% else %}
                <td><a href="{% url 'main:unlock_user_view' id=o.id %}">Unlock Account</a></td>
                {% endif %}
                {% endif %}
                <td><a href="{% url 'main:reset_lockouts' username=o.username %}">Reset Login Attempts</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <h2>Inactive Users</h2>
        <table class="table">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for o in inactive_users %}
            <tr>
                <th scope="row">{{ o.id }}</th>
                <td>{{ o.first_name }}</td>
                <td>{{o.last_name }}</td>
                <td><a href="{% url 'main:update_user_view' id=o.id %}"> Update</a></td>
                {% if o.is_active %}
                <td><a href="{% url 'main:lock_user_view' id=o.id %}">Lock Account</a></td>
                {% else %}
                <td><a href="{% url 'main:unlock_user_view' id=o.id %}">Unlock Account</a></td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}