option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: femr_onchain.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: femr_onchain.settings
    DEBUG: "False"
    SILK_OFF: "True"

container_commands:
  01_fix_lib64:
    command: 'VENV=$(find /var/app/venv -maxdepth 1 -type d -name "staging-*" | head -1) && echo "$VENV/lib/python3.9/site-packages" > $VENV/lib64/python3.9/site-packages/fixlib.pth && $VENV/bin/pip uninstall -y django-silk django-nose nose 2>/dev/null || true'
  02_migrate:
    command: |
      source /var/app/venv/*/bin/activate
      cd /var/app/staging
      python manage.py migrate --no-input
      python manage.py collectstatic --no-input
      python manage.py creategroups
      python manage.py createadmin
      python manage.py adminoptions
      python manage.py createinventoryforms
      python manage.py createraceandethnicity
    leader_only: true
