{% extends "data/base_login.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}
{{ error_message }}
{% if ENVIRONMENT != "PROD" %}
<div id="watermark">{{ ENVIRONMENT }}</div>
{% endif %}
<form action="{% url 'main:login_view' %}" class="form-signin container-sm my-auto mx-auto" id="login_form"
      method="post" name="login_form">
    <p class="text-center" id="header_image">
        <img alt="" class="mb-4"
             src="{% static 'main/assets/logo.png' %}">
    </p>
    <div id="divon" style="visibility:hidden;color:red;">Caps Lock is on.</div>
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-lg btn-primary btn-block mb-2" type="submit">Log in</button>
    <div>Please note, usernames and passwords are case-sensitive.</div>
    <a href="{% url 'main:forgot_username' %}">Forgot username</a><br/>
    <a href="{% url 'password_reset' %}">Forgot password</a>
</form>
<script>
    /* Function borrowed and modified from an answer at 
     * https://stackoverflow.com/questions/5371732/detect-caps-lock-status-on-page-load-or-similar
     */
    document.addEventListener("keyup", (event) => {
        if (event.getModifierState("CapsLock")) {
            document.getElementById('divon').style.visibility = 'visible';
        } else {
            document.getElementById('divon').style.visibility = 'hidden';
        }
    });

</script>
{% endblock %}
