{% extends "data/base_login.html" %}
{% block content %}
{% load crispy_forms_tags %}
{{ error_message }}
<form action="{% url 'main:login_view' %}" method="post" class="form-signin container-sm my-auto mx-auto"
    id="login_form" name="login_form">
    <p class="text-center">
        <img class="mb-4" id="header_logo" src="https://demo.teamfemr.org/assets/img/52749c927045848ae798e9df58dcc0dd-logo_color_sm.png"
            alt="">
    </p>
    <div id="divon" style="visibility:hidden;color:red;">Caps Lock is on.</div>
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-lg btn-primary btn-block mb-2" type="submit">Log in</button>
    <a href="{% url 'main:forgot_username' %}">Forgot username</a><br />
    <a href="{% url 'password_reset' %}">Forgot password</a>
</form>
<script>
    /* Function borrowed and modified from an answer at 
     * https://stackoverflow.com/questions/5371732/detect-caps-lock-status-on-page-load-or-similar
     */
    document.addEventListener("keyup", (event) => {
        if (event.getModifierState("CapsLock")) {
            document.getElementById('divon').style.visibility = 'visible';
        } else {
            document.getElementById('divon').style.visibility = 'hidden';
        }
    });
</script>
{% endblock %}