{% load static %}
{% load user_tags %}
{% load crispy_forms_tags %}
<html>

<head>
    <title>fEMR On-Chain</title>
    <script crossorigin="anonymous" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="{% static 'main/js/inputmask/dist/jquery.inputmask.js' %}"></script>
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <link href="{% static 'main/css/main.css' %}" media="screen" rel="stylesheet">
</head>

<body class="d-flex flex-column">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">fEMR On-Chain</a>
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">New Patient</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Manager</a>
                </li>
                {% if request.user|has_group:"Admin" %}
                <li class="nav-item">
                    <a class="nav-link">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Timezone Controls</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link">Change Password</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Log Out</a>
                </li>
                <li class="nav-item">
                    {{ request.user }}
                </li>
            </ul>
        </div>
    </nav>

    <div class="page-content">
        <div class="container" id="page">
            <div class="row">
                <h1>{{ page_name }}</h1>
            </div>
            <form action="{% url 'change_password' %}" method="post">
                <div class="row justify-content-center">
                    <div class="col-8">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input type='submit' class="btn btn-success" value='Submit' />
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="py-4 bg-dark text-white-50" id="footer">
        <div class="container text-center">v1.2.0.4242020</div>
    </div>
</body>

</html>