{% extends "data/base.html" %}
{% block content %}
{% load static %}
<div class="row">
    <div class="col-md-6">
        <h2>Active Operation</h2>
        <div><a class="btn btn-primary" href="{% url 'main:new_instance' %}">New Operation</a></div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col">Contact</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for o in active_instances %}
            <tr>
                <th scope="row">{{ o.id }}</th>
                <td>{{ o.name }}</td>
                <td><a href="{% url 'main:edit_contact' contact_id=o.main_contact.id %}">{{ o.main_contact }}</a></td>
                <td><a href="{% url 'main:edit_instance' instance_id=o.id %}">Edit</a></td>
                {% if o.active %}
                <td><a href="{% url 'main:lock_instance_view' instance_id=o.id %}">Lock Operation</a></td>
                {% else %}
                <td><a href="{% url 'main:unlock_instance_view' instance_id=o.id %}">Unlock Operation</a></td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <h2>Inactive Operations</h2>
        <table class="table">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col">Contact</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for o in inactive_instances %}
            <tr>
                <th scope="row">{{ o.id }}</th>
                <td>{{ o.name }}</td>
                <td><a href="{% url 'main:view_contact' contact_id=o.main_contact.id %}">{{ o.main_contact }}</a></td>
                <td><a href="{% url 'main:edit_instance' instance_id=o.id %}">Edit</a></td>
                {% if o.active %}
                <td><a href="{% url 'main:lock_instance_view' instance_id=o.id %}">Lock Operation</a></td>
                {% else %}
                <td><a href="{% url 'main:unlock_instance_view' instance_id=o.id %}">Unlock Operation</a></td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
