{% extends "data/base.html" %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}
<form action="{% url 'main:new_instance' %}" method="post"
  onreset="return confirm('Are you sure you want to reset the form? Any work may be lost.');">
  {% csrf_token %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="row">
        {% for x in form %}
        <div class="col-md-3">{{ x|as_crispy_field }}</div>
        {% endfor %}
        <div class="col-md-3">
          <div id="div_id_new_contact" class="form-group">
            <label for="id_new_contact" class="">
              New contact
            </label>
            <div class="justify-content-center">
              <div id="contact_form_activate" class="btn btn-primary ml-auto"><i class="fa fa-plus-circle fa-6"
                  aria-hidden="true"></i></div>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-2">
        <input class="btn btn-primary ml-auto" type="reset" value="Reset Fields" />
      </div>
      <div class="col-md-2">
        <input class="btn btn-primary ml-auto" type="submit" value="Submit User" />
      </div>
    </div>
  </div>
</form>
{% if show %}
<div id="contact_form_div">
{% else %}
<div id="contact_form_div" style="visibility: collapse;">
{% endif %}
  <form action="{% url 'main:new_contact' %}" method="post"
    onreset="return confirm('Are you sure you want to reset the form? Any work may be lost.');">
    {% csrf_token %}
    <div class="row justify-content-center">
      <div class="row">
        {% for x in contact_form %}
        <div class="col-md-3">{{ x|as_crispy_field }}</div>
        {% endfor %}
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-2">
        <input class="btn btn-primary ml-auto" type="reset" value="Reset Fields" />
      </div>
      <div class="col-md-2">
        <input class="btn btn-primary ml-auto" type="submit" value="Submit Contact" />
      </div>
    </div>
  </form>
</div>
<script src="{% static 'main/js/inputmask/dist/jquery.inputmask.js' %}"></script>
<script>
  $(document).on("keydown", ":input:not(textarea)", function (event) {
    return event.key != "Enter";
  });
  $('#contact_form_activate').off('click');
  $('#contact_form_activate').on('click', function (event) {
    console.log('Event fired.');
    $('#contact_form_div').css("visibility", "visible");
  });
  $("#id_phone_number").inputmask({ mask: "(999)999-9999" });
</script>
{% endblock %}