{% extends "data/base.html" %}
{% block content %}
{% load static %}
<a class="btn btn-primary" href="{% url 'clinic_messages:new_message' %}">Compose</a>
<a class="btn btn-primary" href="{% url 'clinic_messages:index' %}">Sent</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">From</th>
            <th scope="col">Subject</th>
        </tr>
    </thead>
    <tbody>
        {% for o in list_view %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{% if o.read %}Read{% else %}{% endif %}</td>
            <td><a href="{% url 'clinic_messages:view_message' message_id=o.id %}">{{ o.sender }}</a>
            </td>
            <td><a href="{% url 'clinic_messages:view_message' message_id=o.id %}">{{ o.subject }}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    <div class="pagination">
        <span class="step-links">
            {% if list_view.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ list_view.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ list_view.number }} of {{ list_view.paginator.num_pages }}.
            </span>

            {% if list_view.has_next %}
            <a href="?page={{ list_view.next_page_number }}">next</a>
            <a href="?page={{ list_view.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</table>
<script src="{% static 'main/js/filters.js' %}"></script>
<script src="{% static 'main/js/date_filter_check.js' %}"></script>
{% endblock %}