{% extends "data/base.html" %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}
<form action="{% url 'main:encounter_edit_form_view' patient_id encounter_id %}" method="post"
    onreset="return confirm('Are you sure you want to reset the form? Any work may be lost.');">
    {% csrf_token %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10">
                <div class="row bg-light">
                    <div class="form-group col-md-4">
                        <div>
                            <div>{{ form.systolic_blood_pressure|as_crispy_field }}</div>
                        </div>
                        <div>
                            <div>{{ form.diastolic_blood_pressure|as_crispy_field }}</div>
                        </div>
                        {% if birth_sex == "f" %}
                        <div>
                            <div>{{ form.weeks_pregnant|as_crispy_field }}</div>
                        </div>
                        {% endif %}
                    </div>
                    <div class="form-group col-md-4">
                        <div>
                            <div>{{ form.heart_rate|as_crispy_field }}</div>
                        </div>
                        <div>
                            <div>{{ form.body_temperature|as_crispy_field }}</div>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <div>
                            <div>{{ form.oxygen_concentration|as_crispy_field }}</div>
                        </div>
                        <div>
                            <div>{{ form.glucose_level|as_crispy_field }}</div>
                        </div>
                    </div>
                </div>
                <div class="row bg-light">
                    <div class="form-group col-md-4">
                        <div>
                            <div>{{ form.body_height_primary|as_crispy_field }}</div>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <div>
                            <div>{{ form.body_height_secondary|as_crispy_field }}</div>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <div>
                            <div>{{ form.body_weight|as_crispy_field }}</div>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <div>
                            <div>{{ form.smoking|as_crispy_field }}</div>
                        </div>
                        <div>
                            <div>{{ form.history_of_diabetes|as_crispy_field }}</div>
                        </div>
                        <div>
                            <div>{{ form.history_of_hypertension|as_crispy_field }}</div>
                        </div>
                        <div>
                            <div>{{ form.history_of_high_cholesterol|as_crispy_field }}</div>
                        </div>
                        <div>
                            <div>{{ form.alcohol|as_crispy_field }}</div>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <div>
                            <div>{{ form.body_mass_index|as_crispy_field }}</div>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <div>
                            <div>{{ form.mean_arterial_pressure|as_crispy_field }}</div>
                        </div>
                    </div>
                </div>
                {% if telehealth %}
                <div class="row">
                    <div class="form-group col-md-12">
                        {{ form.chief_complaint|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        {{ form.patient_history|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        {{ form.diagnoses|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form.treatments|as_crispy_field}}
                    </div>
                </div>
                {% endif %}
                <div class="row">
                    <div class="form-group col-md-12">
                        {{ form.community_health_worker_notes|as_crispy_field }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <input class="btn btn-primary ml-auto" type="reset" value="Reset Fields" />
                </div>
                <div class="col-md-4">
                    <input class="btn btn-primary ml-auto" type="submit" value="Submit Encounter" id="submit_encounter" name="submit_encounter" />
                </div>
                <div class="col-md-4">
                    <input class="btn btn-primary ml-auto" type="submit" value="Submit and Refer" id="submit_refer" name="submit_refer" />
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    $(document).on("keydown", ":input:not(textarea)", function (event) {
        return event.key != "Enter";
    });


</script>
{% if units == 'i' %}
<script src="{% static 'main/js/bmi_calc.js' %}"></script>
{% else %}
<script src="{% static 'main/js/bmi_calc_metric.js' %}"></script>
{% endif %}
<script src="{% static 'main/js/map_calc.js' %}"></script>
<script src="{% static 'main/js/node_modules/inputmask/dist/jquery.inputmask.min.js' %}"></script>
<script src="{% static 'main/js/inputmasks.js' %}"></script>
<script src="{% static 'main/js/max_date_fix.js' %}"></script>
{% endblock %}