{% extends "data/base.html" %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}
{% if ssn_error %}
<div class="modal" id="modal_popup" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Patient Already Exists</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% if match.suffix is not None %}
                <div>
                    <p>A patient with this SSN, {{ match.first_name }} {{ match.last_name }}
                        {{match.get_suffix_display}}
                        already
                        exists.</p>
                </div>
                {% else %}
                <div>
                    <p>A patient with this SSN, {{ match.first_name }} {{ match.last_name }}
                        already
                        exists.</p>
                </div>
                {% endif %}
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary ml-auto" href="{% url 'main:patient_edit_form_view' patient_id=match.id %}">Edit
                    Existing
                    Patient</a>
                <button class="btn btn-primary ml-auto" data-dismiss="modal" type="button">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    $('#modal_popup').modal('toggle')

</script>
{% elif phone_error %}
<div class="modal" id="modal_popup" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Patient Already Exists</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    {% for match in match_list %}
                    {% if match.suffix is not None %}
                    <div class="border-bottom" style="margin-bottom: 10px;">
                        A patient with this phone number, {{ match.first_name }} {{ match.last_name }}
                        {{match.get_suffix_display}}
                        already
                        exists.
                        <a class="btn btn-primary ml-auto" href="{% url 'main:patient_edit_form_view' patient_id=match.id %}"
                           style="margin-bottom: 10px;">Edit
                            Existing
                            Patient</a>
                    </div>
                    {% else %}
                    <div class="border-bottom" style="margin-bottom: 10px;">
                        A patient with this phone number, {{ match.first_name }} {{ match.last_name }}
                        already
                        exists.
                        <a class="btn btn-primary ml-auto" href="{% url 'main:patient_edit_form_view' patient_id=match.id %}"
                           style="margin-bottom: 10px;">Edit
                            Existing
                            Patient</a>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                Is this phone number shared?
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary ml-auto" data-dismiss="modal" type="button">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    $('#modal_popup').modal('toggle');

</script>
{% elif email_error %}
<div class="modal" id="modal_popup" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Patient Already Exists</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    {% for match in match_list %}
                    {% if match.suffix is not None %}
                    <div class="border-bottom" style="margin-bottom: 10px;">
                        A patient with this email address, {{ match.first_name }} {{ match.last_name }}
                        {{match.get_suffix_display}}
                        already
                        exists.
                        <a class="btn btn-primary" href="{% url 'main:patient_edit_form_view' patient_id=match.id %}"
                           style="margin-bottom: 10px;">Edit
                            Existing
                            Patient</a>
                    </div>
                    {% else %}
                    <div class="border-bottom" style="margin-bottom: 10px;">
                        A patient with this email address, {{ match.first_name }} {{ match.last_name }}
                        already
                        exists.
                        <a class="btn btn-primary" href="{% url 'main:patient_edit_form_view' patient_id=match.id %}"
                           style="margin-bottom: 10px;">Edit
                            Existing
                            Patient</a>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                Is this email address shared?
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    $('#modal_popup').modal('toggle');

</script>
{% endif %}
<form action="{% url 'main:patient_form_view' %}" method="post"
      onreset="return confirm('Are you sure you want to reset the form? Any work may be lost.');">
    {% csrf_token %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10">
                <div class="row bg-light">
                    <div class="form-group col-md-6">
                        <div>
                            <div>{{ form.first_name|as_crispy_field }}</div>
                        </div>
                        <div>
                            <div>{{ form.middle_name|as_crispy_field }}</div>
                        </div>
                        <div>
                            <div>{{ form.last_name|as_crispy_field }}</div>
                        </div>
                        <div>
                            <div>{{ form.suffix|as_crispy_field }}</div>
                        </div>
                        <div>
                            <div>{{ form.social_security_number|as_crispy_field }}</div>
                        </div>
                        <div>
                            <div>{{ form.date_of_birth|as_crispy_field }}</div>
                        </div>
                        <div>
                            <div>{{ form.sex_assigned_at_birth|as_crispy_field }}</div>
                        </div>
                        <div id="explain_box" style="display:none;visibility:hidden;">
                            <div>{{ form.explain|as_crispy_field }}</div>
                        </div>
                        <div>
                            <div>{{ form.race|as_crispy_field }}</div>
                        </div>
                        <div>
                            <div>{{ form.ethnicity|as_crispy_field }}</div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div>
                            <div>{{ form.address1|as_crispy_field }}</div>
                        </div>
                        <div>
                            <div>{{ form.address2|as_crispy_field }}</div>
                        </div>
                        <div>
                            <div>{{ form.city|as_crispy_field }}</div>
                        </div>
                        <div>
                            <div>{{ form.zip_code|as_crispy_field }}</div>
                        </div>
                        <div>
                            <div>{{ form.state|as_crispy_field }}</div>
                        </div>
                        <div>
                            <div>{{ form.age|as_crispy_field }}</div>
                        </div>
                        <div>
                            <div>{{ form.phone_number|as_crispy_field }}</div>
                            <div>{{ form.shared_phone_number|as_crispy_field }}</div>
                        </div>
                        <div>
                            <div>{{ form.email_address|as_crispy_field }}</div>
                            <div>{{ form.shared_email_address|as_crispy_field }}</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <input class="btn btn-primary ml-auto" type="reset" value="Reset Fields"/>
                    </div>
                    <div class="col-md-6">
                        <input class="btn btn-primary ml-auto" type="submit" value="Save Patient"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    $(document).on("keydown", ":input:not(textarea)", function (event) {
        return event.key != "Enter";
    });

</script>
<script src="{% static 'main/js/birth_sex_options.js' %}"></script>
<script src="{% static 'main/js/node_modules/inputmask/dist/jquery.inputmask.min.js' %}"></script>
<script src="{% static 'main/js/inputmasks.js' %}"></script>
<script src="{% static 'main/js/max_date_fix.js' %}"></script>
<script src="{% static 'main/js/age_calc.js' %}"></script>
<script src="{% static 'admin/js/vendor/jquery/jquery.js' %}" type="text/javascript"></script>
{{ form.media }}
{% endblock %}