{% load static %}
{% load patient_tags %}
<html>

<head>
    <title>
        Patient Export - {{ patient }}
    </title>
    <style>
        table {
            border-collapse: separate;
            border-spacing: 1em 0;
        }

        body {
            margin-left: 5px;
            position: relative;
            left: 25px;
        }
    </style>
    <script crossorigin="anonymous" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'>
    <link href="{% static 'main/css/main.css' %}" media="screen" rel="stylesheet">
    <link href="{% static 'main/assets/styles.css' %}" media="screen" rel="stylesheet">
</head>

<body>
    <h1>Patient Export - {{ patient }}</h1>
    <div>
        <div class="col-10">
            <div class="row">
                <div class="form-group col-md-6">
                    <div>
                        <div>
                            <div id="div_id_first_name" class="form-group">
                                <label for="id_first_name" class=" requiredField">
                                    First name
                                </label>
                                <div class="">
                                    {{ patient.first_name }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <div id="div_id_middle_name" class="form-group">
                                <label for="id_middle_name" class="">
                                    Middle name
                                </label>
                                <div class="">
                                    {{ patient.middle_name }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <div id="div_id_last_name" class="form-group">
                                <label for="id_last_name" class=" requiredField">
                                    Last name
                                </label>
                                <div class="">
                                    {{ patient.last_name }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <div id="div_id_suffix" class="form-group">
                                <label for="id_suffix" class="">
                                    Suffix
                                </label>
                                <div class="">
                                    {{ patient.suffix }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <div id="div_id_social_security_number" class="form-group">
                                <label for="id_social_security_number" class="">
                                    Social security number
                                </label>
                                <div class="">
                                    {{ patient.social_security_number|mask_social }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <div id="div_id_sex_assigned_at_birth" class="form-group">
                                <label for="id_sex_assigned_at_birth" class=" requiredField">
                                    Sex assigned at birth
                                </label>
                                <div class="">
                                    {{ patient.get_sex_assigned_at_birth_display }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="explain_box" style="display:none;visibility:hidden;">
                        <div>
                            <div id="div_id_explain" class="form-group">
                                <label for="id_explain" class="">
                                    Explain
                                </label>
                                <div class="">
                                    {{ patient.explain }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <div id="div_id_date_of_birth" class="form-group">
                                <label for="id_date_of_birth" class=" requiredField">
                                    Date of birth
                                </label>
                                <div class="">
                                    {{ patient.date_of_birth }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <div id="div_id_race" class="form-group">
                                <label for="id_race" class=" requiredField">
                                    Race
                                </label>
                                <div class="">
                                    {{ patient.get_race_display }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <div id="div_id_ethnicity" class="form-group">
                                <label for="id_ethnicity" class=" requiredField">
                                    Ethnicity
                                </label>
                                <div class="">
                                    {{ patient.get_ethnicity_display }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div>
                        <div>
                            <div id="div_id_address1" class="form-group">
                                <label for="id_address1" class="">
                                    Address line 1
                                </label>
                                <div class="">
                                    {{ patient.address_line_1}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <div id="div_id_address2" class="form-group">
                                <label for="id_address2" class="">
                                    Address line 2
                                </label>
                                <div class="">
                                    {{ patient.address_line_2 }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <div id="div_id_city" class="form-group">
                                <label for="id_city" class="">
                                    City
                                </label>
                                <div class="">
                                    {{ patient.city }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <div id="div_id_zip_code" class="form-group">
                                <label for="id_zip_code" class="">
                                    ZIP / Postal code
                                </label>
                                <div class="">
                                    {{ zip_code }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <div id="div_id_state" class="form-group">
                                <label for="id_state" class="">
                                    State
                                </label>
                                <div class="">
                                    {{ patient.state }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <div id="div_id_phone_number" class="form-group">
                                <label for="id_phone_number" class="">
                                    Phone number
                                </label>
                                <div class="">
                                    {{ patient.phone_number }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <div id="div_id_email_address" class="form-group">
                                <label for="id_email_address" class="">
                                    Email address
                                </label>
                                <div class="">
                                    {{ patient.email_address }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <hr>
        <h2>Encounter History</h2>
        <hr>
        {% for encounter in encounters %}
        <div>
            <div class="col-10">
                <h5>{{ encounter.timestamp }}</h5>
                <div class="row">
                    <div class="form-group col-md-4">
                        {% for vitals in vitals_dictionary.encounter %}
                        <div class="row">
                            <div>
                                <div>
                                    <div id="div_id_systolic_blood_pressure" class="form-group">
                                        <label for="id_systolic_blood_pressure" class=" requiredField">
                                            Systolic blood pressure
                                        </label>
                                        <div class="">
                                            {{ vitals.systolic_blood_pressure }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <div id="div_id_diastolic_blood_pressure" class="form-group">
                                        <label for="id_diastolic_blood_pressure" class=" requiredField">
                                            Diastolic blood pressure
                                        </label>
                                        <div class="">
                                            {{ vitals.diastolic_blood_pressure }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <div id="div_id_mean_arterial_pressure" class="form-group">
                                        <label for="id_mean_arterial_pressure" class=" requiredField">
                                            Mean arterial pressure
                                        </label>
                                        <div class="">
                                            {{ vitals.mean_arterial_pressure }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <div id="div_id_heart_rate" class="form-group">
                                        <label for="id_heart_rate" class=" requiredField">
                                            Heart rate
                                        </label>
                                        <div class="">
                                            {{ vitals.heart_rate }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <div id="div_id_respiratory_rate" class="form-group">
                                        <label for="id_respiratory_rate" class=" requiredField">
                                            Respiratory rate
                                        </label>
                                        <div class="">
                                            {{ vitals.respiratory_rate }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <div id="div_id_body_temperature" class="form-group">
                                        <label for="id_body_temperature" class=" requiredField">
                                            {% if units == 'i' %}
                                            Body temperature - F
                                            {% else %}
                                            Body temperature - C
                                            {% endif %}
                                        </label>
                                        <div class="">
                                            {% if units == 'i' %}
                                            {{ vitals|imperial_temperature }}
                                            {% else %}
                                            {{ vitals.body_temperature }}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <div id="div_id_oxygen_concentration" class="form-group">
                                        <label for="id_oxygen_concentration" class="">
                                            Oxygen concentration
                                        </label>
                                        <div class="">
                                            {{ vitals.oxygen_concentration }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <div id="div_id_glucose_level" class="form-group">
                                        <label for="id_glucose_level" class="">
                                            Glucose level
                                        </label>
                                        <div class="">
                                            {{ vitals.glucose_level }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="form-group col-md-4">
                            <div>
                                <div>
                                    <div id="div_id_weeks_pregnant" class="form-group">
                                        <label for="id_weeks_pregnant" class="">
                                            Weeks pregnant
                                        </label>
                                        <div class="">
                                            {{ encounter.weeks_pregnant }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <div id="div_id_body_mass_index" class="form-group">
                                        <label for="id_body_mass_index" class="">
                                            Body mass index
                                        </label>
                                        <div class="">
                                            {{ encounter.body_mass_index }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <div>
                                <div>
                                    <div id="div_id_body_height_primary" class="form-group">
                                        <label for="id_body_height_primary" class=" requiredField">
                                            {% if units == 'i' %}
                                            Height - ft
                                            {% else %}
                                            Height - m
                                            {% endif %}
                                        </label>
                                        <div class="">
                                            {% if units == 'i' %}
                                            {{ encounter|imperial_primary_height }}
                                            {% else %}
                                            {{ encounter.body_height_primary }}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <div>
                                <div>
                                    <div id="div_id_body_height_secondary" class="form-group">
                                        <label for="id_body_height_secondary" class=" requiredField">
                                            {% if units == 'i' %}
                                            Height - in
                                            {% else %}
                                            Height - cm
                                            {% endif %}
                                        </label>
                                        <div class="">
                                            {% if units == 'i' %}
                                            {{ encounter|imperial_secondary_height }}
                                            {% else %}
                                            {{ encounter.body_height_secondary }}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <div>
                                <div>
                                    <div id="div_id_body_weight" class="form-group">
                                        <label for="id_body_weight" class=" requiredField">
                                            {% if units == 'i' %}
                                            Body weight - lbs
                                            {% else %}
                                            Body weight - kgs
                                            {% endif %}
                                        </label>
                                        <div class="">
                                            {% if units == 'i' %}
                                            {{ encounter|imperial_weight }}
                                            {% else %}
                                            {{ encounter.body_weight }}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div>
                                <div>
                                    <div class="form-group">
                                        <div id="div_id_smoking" class="form-check">
                                            <label for="id_smoking" class="form-check-label">
                                                History of tobacco use disorder:
                                            </label>
                                            {{ encounter.smoking }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <div class="form-group">
                                        <div id="div_id_diabetes" class="form-check">
                                            <label for="id_diabetes" class="form-check-label">
                                                History of diabetes:
                                            </label>
                                            {{ encounter.history_of_diabetes}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <div class="form-group">
                                        <div id="div_id_diabetes" class="form-check">
                                            <label for="id_diabetes" class="form-check-label">
                                                History of hypertension:
                                            </label>
                                            {{ encounter.history_of_hypertension}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <div class="form-group">
                                        <div id="div_id_diabetes" class="form-check">
                                            <label for="id_diabetes" class="form-check-label">
                                                History of high cholesterol:
                                            </label>
                                            {{ encounter.history_of_high_cholesterol}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <div class="form-group">
                                        <div id="div_id_alcohol" class="form-check">
                                            <label for="id_alcohol" class="form-check-label">
                                                History of substance/alcohol abuse:
                                            </label>
                                            {{ encounter.alcohol }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            {% if telehealth %}
                            <div class="row">
                                <label for="id_chief_complaint" class="form-check-label">
                                    Chief complaint:
                                </label>
                                <div class="form-group col-md-12">
                                    {{ encounter.chief_complaint }}
                                </div>
                            </div>
                            <div class="row">
                                <label for="id_patient_history" class="form-check-label">
                                    Patient history:
                                </label>
                                <div class="form-group col-md-12">
                                    {{ encounter.patient_history }}
                                </div>
                            </div>
                            <div class="row">
                                <label for="id_diagnoses" class="form-check-label">
                                    Diagnoses:
                                </label>
                                <div class="form-group col-md-12">
                                    {{ encounter.diagnoses }}
                                </div>
                            </div>
                            <div class="row">
                                <label for="id_treatments" class="form-check-label">
                                    Treatments:
                                </label>
                                <div class="form-group col-md-12">
                                    {{ encounter.treatments}}
                                </div>
                            </div>
                            {% endif %}
                            <div class="row">
                                <label for="id_community_health_worker_notes" class="form-check-label">
                                    Community health worker notes:
                                </label>
                                <div class="form-group col-md-12">
                                    {{ encounter.community_health_worker_notes }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            {% endfor %}
        </div>
</body>

</html>