{% extends "data/base.html" %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}
<div class="row">
    <div class="col-sm-12">
        <div>
            <div>
                <h3>{{ message.subject }}</h3>
                From: {{ message.sender }}
            </div>
            <div>
                <button id="reply_button" class="btn btn-primary">Reply</button>
                <a class="btn btn-primary" href="{% url 'clinic_messages:delete_message' id=message.id %}">Delete</a>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-6">
                {{ message.content }}
            </div>
            <div class="col-sm-5"></div>
        </div>
    </div>
</div>
<div class="modal" id="modal_popup" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Reply</h5>
                <button id="close" aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST"
                    action="{% url 'clinic_messages:reply_message' message_id=message.id sender_id=sender.id %}">
                    {% crispy form %}
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    var modal = document.getElementById("modal_popup");

    var btn = document.getElementById("reply_button");

    var span = document.getElementById("close");

    btn.onclick = function () {
        modal.style.display = "block";
    }

    span.onclick = function () {
        modal.style.display = "none";
    }

    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
{% endblock %}