{% extends "data/base.html" %}
{% load campaign_tags %}
{% block content %}
<div>
    Welcome to fEMR On-Chain v1.2.0.4262020, {{ user.first_name }} {{ user.last_name }}!
</div>
<div>
    Please select a tab at the top, search below, or select a campaign below to get started!
</div>
<div class="input-group mt-3">
    <form action="{% url 'main:change_campaign' %}" method="POST">
        {% csrf_token %}
        <select name="campaign">
            {% for campaign in campaigns %}
            <option value="{{ campaign }}" {% if campaign|is_selected:selected_campaign %} selected {% endif %}>
                {{ campaign }}
            </option>
            {% endfor %}
        </select>
        <input type="submit" value="Set Campaign">
    </form>
    <a href="#" data-toggle="popover" data-trigger="hover"
        data-content="'Campaign' refers to location of clinic or screening event. Campaign selected will appear at the top of the screen next to the fEMR logo."><i
            class="fa fa-question-circle"></i></a>
</div>
<form action="{% url 'main:search_patient_list_view' %}" class="form-inline my-2 my-lg-0" method="get">
    <div class="input-group mt-3">
        <input aria-label="Search" class="form-control" id="name_search" name="name_search"
            placeholder="Patient Name, Phone Number, or Email" size="40" type="search" />
    </div>
    <div class="input-group-append">
        <button class="btn btn-primary mt-3" type="submit" id="button-addon2"><i class="fa fa-search"
                aria-hidden="true"></i>Search</button>
    </div>
</form>
{% endblock %}
