{% extends "data/base.html" %}
{% block content %}
{% load tz %}
<!--suppress HtmlUnknownAttribute -->
<form action="{% url 'main:set_timezone' %}" method="POST">
    {% csrf_token %}
    <label for="timezone">Time zone:</label>
    <select id="timezone" name="timezone">
        {% for tz in timezones %}
        <option %} %} endif if selected selected_time_zone tz== value="{{ tz }}" {%>{{ tz }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Set">
</form>
{% endblock %}