/* Chrome, Safari, Edge, Opera */
#id_mean_arterial_pressure::-webkit-outer-spin-button,
#id_mean_arterial_pressure::-webkit-inner-spin-button,
#id_body_mass_index::-webkit-outer-spin-button,
#id_body_mass_index::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#diagnosis_form {
  width: 100%;
}

#div_id_diagnosis {
  width: 100%;
}

.select2-selection .select2-selection--multiple .modelselect2multiple .form-control .custom-select {
  width: 100%;
  height: 80px;
}

.select2 .select2-container .select2-container--default .select2-container--below {
  width: 100%;
  height: 50%;
}

.select2 .select2-container .select2-container--default .select2-container--focus .select2-container--below {
  width: 615px;
}

/* Firefox */
#id_mean_arterial_pressure,
#id_body_mass_index {
  -moz-appearance: textfield;
}

html,
body {
  height: 100%;
}

.page-content {
  flex: 1 0 auto;
}

#footer {
  flex-shrink: none;
  color: white;
}

/* Formatting date widgets */
.selectdatewidget {
  display: inline-block;
}

.fa-question-circle {
  color: #c60000;
}

select[name$="_day"].selectdatewidget {
  width: 27%;
}
select[name$="_month"].selectdatewidget {
  width: 38%;
}
select[name$="_year"].selectdatewidget {
  width: 35%;
}

@media only screen and (max-width: 1026px) {
  #header_logo {
    display: none;
  }
}

#watermark {
  display: flex;
  align-items: center;
  font-size: 10vw;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.9);
  position: fixed;
  z-index: -9999;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  box-shadow: 0px 0px 6px #777;
  padding: 10px 20px 15px;
  top: 40%;
  left: -0%;
  height: 13vw;
  margin-right: -50%;
  transform: rotate(-90deg);
  backdrop-filter: blur(4px);
}